
@{
    ViewData["Title"] = "Torneio";
}

<h1>Torneio</h1>
<div>
    <div style="float: left; width: 20%; margin-right: 20px">
        <form action="/Home/ConcluirRodada1">
            @{
                for (int i = 0; i < 16; i += 2)
                {
                    <div>
                        <ul class="list-group" style="width: 100%; margin-bottom: 15px">
                            <li class="list-group-item" id="r1s@(i+1)">
                                @(ViewData["1" + (i + 1).ToString()])
                                @{
                                    if (Convert.ToInt32(ViewBag.Rodada) == 1)
                                    {
                                        <input class="w-25 float-right form-control form-control-sm" value="" type="text" id="time@(i+1)Gols" name="t@(i+1)g" placeholder="Gols" required>
                                    }
                                    else
                                    {
                                        <pre class="float-right">@(ViewData["1g"+(i+1).ToString()])</pre>
                                    }
                                }
                            </li>
                            <li class="list-group-item" id="r1s@(i+2)">
                                @(ViewData["1" + (i + 2).ToString()])
                                @{
                                    if (Convert.ToInt32(ViewBag.Rodada) == 1)
                                    {
                                        <input class="w-25 float-right form-control form-control-sm" value="" type="text" id="time@(i+2)Gols" name="t@(i+2)g" placeholder="Gols" required>
                                    }
                                    else
                                    {
                                        <pre class="float-right">@(ViewData["1g"+(i+2).ToString()])</pre>
                                    }
                                }
                            </li>
                        </ul>
                    </div>

                }
                if (Convert.ToInt32(ViewBag.Rodada) == 1)
                {
                    <button type="submit" class="btn btn-primary">Concluir rodada</button>
                }
            }
        </form>
    </div>

    @{
        if (Convert.ToInt32(ViewBag.Rodada) > 1)
        {
            <div style="float: left; width: 20%; height: 1023px; margin-right: 20px; display: flex; flex-direction: column; justify-content: space-evenly">
                <form action="/Home/ConcluirRodada2">
                    <div style=" height: 1023px; display: flex; flex-direction: column; justify-content: space-evenly">
                        @{
                            for (int i = 0; i < 8; i += 2)
                            {
                                <div>
                                    <ul class="list-group" style="width: 100%; margin-bottom: 15px">
                                        <li class="list-group-item" id="r1s@(i+1)">
                                            @(ViewData["2" + (i + 1).ToString()])
                                            @{
                                                if (Convert.ToInt32(ViewBag.Rodada) == 2)
                                                {
                                                    <input class="w-25 float-right form-control form-control-sm" type="text" id="time@(i+1)Gols" name="t@(i+1)g" placeholder="Gols" required>
                                                }
                                                else
                                                {
                                                    <pre class="float-right">@(ViewData["2g"+(i+1).ToString()])</pre>
                                                }
                                            }
                                        </li>
                                        <li class="list-group-item" id="r1s@(i+2)">
                                            @(ViewData["2" + (i + 2).ToString()])
                                            @{
                                                if (Convert.ToInt32(ViewBag.Rodada) == 2)
                                                {
                                                    <input class="w-25 float-right form-control form-control-sm" type="text" id="time@(i+2)Gols" name="t@(i+2)g" placeholder="Gols" required>
                                                }
                                                else
                                                {
                                                    <pre class="float-right">@(ViewData["2g"+(i+2).ToString()])</pre>
                                                }
                                            }
                                        </li>
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                    @{
                        if (Convert.ToInt32(ViewBag.Rodada) == 2)
                        {
                            <button type="submit" class="btn btn-primary" style="margin-top: -200px">Concluir rodada</button>
                        }
                    }
                </form>
            </div>
        }
    }

    @{
        if (Convert.ToInt32(ViewBag.Rodada) > 2)
        {
            <div style="float: left; width: 20%; margin-right: 20px; height: 1023px; display: flex; flex-direction: column; justify-content: space-evenly">
                <form action="/Home/ConcluirRodada3">
                    <div style=" height: 1023px; display: flex; flex-direction: column; justify-content: space-evenly">
                        @{
                            for (int i = 0; i < 4; i += 2)
                            {
                                <div>
                                    <ul class="list-group" style="width: 100%; margin-bottom: 15px">
                                        <li class="list-group-item" id="r1s@(i+1)">
                                            @(ViewData["3" + (i + 1).ToString()])
                                            @{
                                                if (Convert.ToInt32(ViewBag.Rodada) == 3)
                                                {
                                                    <input class="w-25 float-right form-control form-control-sm" type="text" id="time@(i+1)Gols" name="t@(i+1)g" placeholder="Gols" required>
                                                }
                                                else
                                                {
                                                    <pre class="float-right">@(ViewData["3g"+(i+1).ToString()])</pre>
                                                }
                                            }
                                        </li>
                                        <li class="list-group-item" id="r1s@(i+2)">
                                            @(ViewData["3" + (i + 2).ToString()])
                                            @{
                                                if (Convert.ToInt32(ViewBag.Rodada) == 3)
                                                {
                                                    <input class="w-25 float-right form-control form-control-sm" type="text" id="time@(i+2)Gols" name="t@(i+2)g" placeholder="Gols" required>
                                                }
                                                else
                                                {
                                                    <pre class="float-right">@(ViewData["3g"+(i+2).ToString()])</pre>
                                                }
                                            }
                                        </li>
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                    @{
                        if (Convert.ToInt32(ViewBag.Rodada) == 3)
                        {
                            <button type="submit" class="btn btn-primary" style="margin-top: -400px">Concluir rodada</button>
                        }
                    }
                </form>
            </div>
        }
    }

    @{
        if (Convert.ToInt32(ViewBag.Rodada) > 3)
        {
            <div style="float: left; width: 20%; margin-right: 20px; height: 1023px; display: flex; flex-direction: column; justify-content: space-evenly">
                <form action="/Home/ConcluirRodada4">
                    <div style=" height: 1023px; display: flex; flex-direction: column; justify-content: space-evenly">
                        @{
                            for (int i = 0; i < 2; i += 2)
                            {
                                <div>
                                    <ul class="list-group" style="width: 100%; margin-bottom: 15px">
                                        <li class="list-group-item" id="r1s@(i + 1)">
                                            @(ViewData["4" + (i + 1).ToString()])
                                            @{
                                                if (Convert.ToInt32(ViewBag.Rodada) == 4)
                                                {
                                                    <input class="w-25 float-right form-control form-control-sm" type="text" id="time@(i + 1)Gols" name="t@(i + 1)g" placeholder="Gols" required>
                                                }
                                                else
                                                {
                                                    <pre class="float-right">@(ViewData["4g" + (i + 1).ToString()])</pre>
                                                }
                                            }
                                        </li>
                                        <li class="list-group-item" id="r1s@(i + 2)">
                                            @(ViewData["4" + (i + 2).ToString()])
                                            @{
                                                if (Convert.ToInt32(ViewBag.Rodada) == 4)
                                                {
                                                    <input class="w-25 float-right form-control form-control-sm" type="text" id="time@(i + 2)Gols" name="t@(i + 2)g" placeholder="Gols" required>
                                                }
                                                else
                                                {
                                                    <pre class="float-right">@(ViewData["4g" + (i + 2).ToString()])</pre>
                                                }
                                            }
                                        </li>
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                    @{
                        if (Convert.ToInt32(ViewBag.Rodada) == 4)
                        {
                            <button type="submit" class="btn btn-primary" style="margin-top: -800px">Concluir rodada</button>
                        }
                    }
                </form>
            </div>
        }
    }

    @{
        if (Convert.ToInt32(ViewBag.Rodada) > 4)
        {
            <div style="float: left; width: 12%; margin-right: 0px; height: 1023px; display: flex; flex-direction: column; justify-content: space-evenly">
                <div style=" height: 1023px; display: flex; flex-direction: column; justify-content: space-evenly">
                    <div>
                        <ul class="list-group" style="width: 100%; margin-bottom: 15px">
                            <li class="list-group-item" id="vencedor">
                                <pre style="text-align: center">@(ViewData["Vencedor"])</pre>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    }
</div>